header {
	width:100%;
	position:fixed;
	top:0;
	
	.menu__nav .logo{
		float:left;
		display:inline;
		margin:0px;
		padding:0;
	}
	.menu{
		float:right;
		width:auto;
		.menu__item{
			float:left;
			padding-left: 1.8rem;
			list-style-type: none;
			font-size: 1rem;
			color:$white;
			.menu__link{
				color:$white;
				text-decoration: none;
				&:hover{
					color:$pink;
				}

			}
			.signup{
				width:105px;
				height:31px;    
				padding: 10px 20px;
				background-color: #EF2971;
				color:$white;
				border-radius: 22px;
				text-decoration: none;
			}
		}
	}
}
